/* styles/booksDetails.css */
.bookstore-details {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.bookstore-details-container {
    display: flex;
    gap: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bookstore-image-gallery {
    flex: 1;
}

.bookstore-main-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
}

.bookstore-thumbnail-gallery {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.bookstore-thumbnail-gallery img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.bookstore-details-content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookstore-details-content h2 {
    margin: 0 0 5px;
    font-size: 24px;
    color: #333;
}

.bookstore-ratings {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 10px;
}

.bookstore-ratings span {
    color: #f5c518;
}

.bookstore-price {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.bookstore-details-content p {
    margin: 10px 0;
    color: #555;
}

.bookstore-details-content hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}

.bookstore-add-to-cart, .bookstore-wishlist {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bookstore-add-to-cart {
    background-color: #007bff;
    color: #fff;
}

.bookstore-add-to-cart:hover {
    background-color: #0056b3;
}

.bookstore-button-group {
    display: flex;
    gap: 10px;
}

.bookstore-wishlist {
    background-color: transparent;
    color: #333;
    font-size: 24px;
}

.bookstore-wishlist:hover {
    color: #ff0000;
}